@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-950;
  color-scheme: dark;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

.shelf-container {
  overflow: auto;
  width: 100%;
}

.shelf {
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  &[class*='--odd'] {
    .slot {
      transform: translateX(50%);
    }
  }
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  button {
    display: flex;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: calc(infinity * 1px);
    width: 100%;
    @apply aspect-square;
  }
}

.double-row {
  &[class*='--odd'] {
    .slot {
      transform: unset;
    }

    .slot:nth-child(odd) {
      button {
        width: 70%;;
      }
    }
  }
  &[class*='--even'] {
    .slot:nth-child(odd) {      
      button {
        width: 70%;
      }
    }
  }
}

.button-primary {
  @apply font-bold py-2 px-4 rounded;
  @apply bg-blue-500 text-white;

  &:hover {
    @apply bg-blue-700;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
